.card {
  margin: 5px;
}

.image-column {
  padding-top: 0 !important;
  height: 100%;
  border-radius: 10px;
}

.overmij-text {
  padding-left: 50px;
  max-width: 600px;
}

.overmij-image {
  max-width: 100%;
  max-height: 100%;
}

.socials {
  padding-top: 1rem;
}
