.card {
  margin: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mbfn-container {
  display: flex;
}

.mbfn-small-container {
  display: initial;
}

.orange-column {
  border-radius: 10px;
  background-color: var(--color-orange);
  width: 33%;
  align-content: center;
  justify-items: center;
}

.mbfn-text {
  max-width: 600px;
  margin: 3rem;
}

.book {
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  width: 300px;
}

.socials {
  margin-left: 10px;
}

.socials-container {
  display: flex;
  justify-content: center;
}
