<mat-card class="card">

  @if (screenSize() === 'xsmall') {
    <div class="mbfn-small-container">
      <div class="orange-column">
        <div class="book">
          <img alt="Mijn baarmoederfaaltniet" src="assets/mijnbaarmoederfaaltniet3d.jpg"/>
          <div class="socials-container">
            <app-socials [light]="false" class="socials"></app-socials>
          </div>
        </div>
      </div>
      <div class="mbfn-text">
        <h3>{{ 'MBFT.HEADER1' | translate }}</h3>
        <h3>{{ 'MBFT.HEADER2' | translate }}</h3>
        <div [innerHTML]="'MBFT.TEXT' | translate"></div>
      </div>
    </div>
  } @else {
    <div class="mbfn-container">
      
        <div class="orange-column">
          <div class="book">
            <img alt="Mijn baarmoederfaaltniet" src="assets/mijnbaarmoederfaaltniet3d.jpg"/>
            <div class="socials-container">
              <app-socials [light]="false" class="socials"></app-socials>
            </div>
          </div>
        </div>
      
        <div class="mbfn-text">
          <h3>{{ 'MBFT.HEADER1' | translate }}</h3>
          <h3>{{ 'MBFT.HEADER2' | translate }}</h3>
          <div [innerHTML]="'MBFT.TEXT' | translate"></div>
        </div>

    </div>
  }
</mat-card>
