<div>
  <div class="header-container">
    <div class="header">
      Zijn wie je worden wilt
    </div>
  </div>
  <div>
    <app-mijn-baarmoeder-faalt-niet [screenSize]="sizeSignal()"></app-mijn-baarmoeder-faalt-niet>
    <mat-divider class="no-ruler"></mat-divider>
    <app-overmij [screenSize]="sizeSignal()"></app-overmij>
    <mat-divider class="no-ruler"></mat-divider>
    <app-reacties></app-reacties>
    <mat-divider class="no-ruler"></mat-divider>
    <app-boekkopen [screenSize]="sizeSignal()"></app-boekkopen>
    <mat-divider class="no-ruler"></mat-divider>
    <app-ooievaar [screenSize]="sizeSignal()"></app-ooievaar>
  </div>
</div>

