/* You can add global styles to this file, and also import other style files */
:root {
  --color-orange: rgb(253, 162, 0);
  --color-blue: #32b7b9;
  --mat-app-background-color: white --mat-elev;
}

body {
  font-size: 17px;

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Jost", serif;
}

a {
  color:black;
}

h3 {
  font-size: 17px;
}